.all {
    width: 50%;
    margin: 0 auto;
}

.all_style {
    margin-top: 10%;
    height: 250px;
    background-color: rgba(0, 0,0,1);
}

.all_style_01 {
    color: #ffffff;
    padding: 30px;
}

.span_01 {
    float: left;
    margin-left: 24px;
    cursor: pointer;
    font-size: 15px;
}

.span_02 {
    float: right;
    margin-right: 12px;
    font-size: 14px;
    color: #d3d2d2;
}

.div_1_d1_02 {
    width: 100%;
    float: left;
}

.div_01 {
    float: left;
    display: none;
    width: 100%;
}

.input_1 {
    float: left;
    width: 75%;
    height: 40px;
    margin-top: 17px;
    margin-left: -5%;
    border: 1px solid #ffffff;
}

.input_2 {
    float: left;
    width: 75%;
    height: 40px;
    margin-top: 17px;
    margin-left: -18%;
    border: 1px solid #ffffff;
}

.input_3 {
    float: left;
    width: 75%;
    height: 40px;
    margin-top: 17px;
    margin-left: -28%;
    border: 1px solid #ffffff;
}

.input_4 {
    float: left;
    width: 75%;
    height: 40px;
    margin-top: 17px;
    margin-left: -38%;
    border: 1px solid #ffffff;
}

.btn_01 {
    float: left;
    color: white;
    width: 20%;
    height: 45px;
    margin-top: 17px;
    background-color: #1cb1f2;
    border: none;
    text-indent: 15px;
}

.img_01 {
    float: left;
    margin-left: 6%;
    width: 2.5%;
    margin-top: 3px;
}

.img_02 {
    float: left;
    margin-left: 18%;
    width: 2.5%;
    margin-top: 3px;
}

.img_03 {
    float: left;
    margin-left: 28%;
    width: 2.5%;
    margin-top: 3px;
}

.img_04 {
    float: left;
    margin-left: 38%;
    width: 2.5%;
    margin-top: 3px;
}
